<nav>
  <button [routerLink]="['movies']">Movie list</button>
  <button [routerLink]="['play videos']">Watch video</button>
  <button [routerLink]="['movies', 'add']">Add movie</button>
</nav>
<router-outlet></router-outlet>

<!-- <ul class="nav nav-pills">
  <li [class.active]="viewMode=='menu'"><a (click)="viewMode='menu'">Menu view</a></li>
  <li [class.active]="viewMode=='list'"><a (click)="viewMode='list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
   <div *ngSwitchCase="'menu'">Menu view Content</div>
   <div *ngSwitchCase="'list'">List view Content</div>
   <div *ngSwitchDefault>Otherwise</div>
</div> -->
<!-- later use to be able to have different views -->







